  .user-form {
    /* height: min-content;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* padding: 15px;
    background-color: #F1F1F1;
    border-radius: 3px;
    box-shadow: 0 5px 18px #49525c; */
  }
  
  .form-text-title {
    font-family: -apple-system,BlinkMacSystemFont,open_sanslight,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: black;
    font-weight: 400;
    font-size: 50px;
    /* margin: 20px; */
    padding: 10px;
    width: min-content;
  }

  .form-image {
    width: 50px;
    height: 30px;
    margin: 0;
  }

  .image {
    width: 250px;
    height: 150px;

  }

  .form-group {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .form-label {
    font-family: -apple-system,BlinkMacSystemFont,open_sanslight,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    color: black;
    font-weight: 400;
    font-size: 18px;
    margin: 5px;
  }
  
  .user-input {
    margin: 5px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
  }

  .btn {
      width: 50px;
  }